.topic-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  .latest-topic-list-item {
    display: grid;
    .topic-title-link {
      grid-area: title;
      font-size: var(--font-up-1);
    }
    .topic-category-link {
      grid-area: category;
      display: flex;
    }
    .topic-excerpt {
      grid-area: excerpt;
    }
    .posters {
      grid-area: posters;
      display: flex;
    }
    .topic-stats {
      grid-area: stats;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
